:root {
    --primary-color: #1da1f2;
    --background-color: #f4f4f4;
    --text-color: #333;
    --button-color: #007bff;
    --button-hover: #0056b3;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }

  .title {
    white-space: nowrap;  /* Evita que el texto se divida en varias líneas */
    overflow: hidden; /* Oculta el texto que aún no se ha mostrado */
    border-right: .15em solid #20beff; /* Cursor de tipo "teclado" */
    width: 0; /* Inicialmente el texto no se muestra */
    animation: typing 1s steps(30) 1s forwards, blink 0.75s step-end infinite; /* Efecto de tipeo y parpadeo */
  }

  /* Efecto de escritura */
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  
  /* Efecto de parpadeo del cursor */
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }

  .container {
    text-align: center;
    padding: 20px;
  }
  
  .header .title {
    font-size: 2.5rem;
    margin-bottom: 10px;
  }
  
  .header .subtitle {
    font-size: 1.25rem;
    color: #666;
  }
  
  .links {
    margin-top: 20px;
  }
  
  .button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    color: white;
    background-color: var(--button-color);
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: var(--button-hover);
  }
  
  .icon {
    margin-right: 8px;
    width: 1.2em;
    height: 1.2em;
  }
  